<!----------------- DAT Digital Assistive Tools (mini-apps) -------------------->
<!----------------- Full version (for internal/pixi games) --------------------->

<div id="in-game-app-menu" style="display: none">
    <div class="row">
        <button class="btn btn-dark col-3 without-space" id="btn-miniapp-1"
                style="white-space: normal; margin-left: 15px; margin-bottom: 5px; font-size: 10pt; min-height: 75px">
            <i class=""></i>
        </button>
        <button class="btn btn-dark col-3 without-space" id="btn-miniapp-2"
                style="white-space: normal; margin-left: 5px; margin-bottom: 5px; font-size: 10pt; min-height: 75px">
            <i class=""></i>
        </button>
        <button class="btn btn-dark col-3 without-space" id="btn-miniapp-2"
                style="white-space: normal; margin-left: 5px; margin-bottom: 5px; font-size: 10pt; min-height: 75px">
            <i class=""></i>
        </button>
    </div>
</div>

<div class="row" id="mini-app-game-menu-hide" style="display: none">
    <button class="btn btn-dark col-9" style="margin-left: 20px; margin-bottom: 5px; font-size: 10pt"
            onclick="ui_jeu.toggleInGameMiniAppMenu()">
        <%= __('hide_in_app_game') %> <i class="fas fa-caret-down"></i>
    </button>
</div>

<div class="row" id="mini-app-game-menu-show" style="display: none">
    <button class="btn btn-dark col-9" style="margin-left: 20px; margin-bottom: 5px; font-size: 10pt"
            onclick="ui_jeu.toggleInGameMiniAppMenu()">
        <%= __('show_in_app_game') %> <i class="fas fa-caret-up"></i>
    </button>
</div>


<div id="global-app-menu" class="m-1 p-1">
    <% include _textBlock.ejs %>
    <section class="row w-100 justify-content-end mt-3">
        <div class="row col-9">
            <button class="btn btn-dark without-space btn-DAT" id="space"><%= __('space_letters') %></button>
            <button class="btn btn-dark without-space btn-DAT" id="dyslexic"><%= __('opendys') %></button>
        </div>
        <div class="row col-9">
            <!--            <button class="btn btn-dark without-space btn-DAT"-->
            <!--                    onclick="ui_jeu.toggleGlobalMiniApp('my-pad')"><%= __('student_pad_button') %>-->
            <!--                <br><i class="fas fa-search"></i>-->
            <!--            </button>-->
            <!--            <button class="btn btn-dark without-space btn-DAT"-->
            <!--                    onclick="ui_jeu.toggleGlobalMiniApp('class-pad')"><%= __('class_pad_button') %>-->
            <!--                <br><i class="fas fa-search"></i>-->
            <!--            </button>-->
            <button class="btn btn-dark without-space no-focus-button btn-DAT hidden"
                    id="contrast"><%= __('high_contrast') %></button>
            <button class="btn btn-dark without-space btn-DAT"
                    onclick="ui_jeu.toggleGlobalMiniApp('dico-img')"><%= __('dico_button') %>
                <i class="fas fa-search"></i>
            </button>
        </div>
    </section>
</div>

<div class="row m-0" id="toolbox-hide" style="display: none; width: 120%">
    <button class="btn btn-dark col-9" style="margin-left: 20px; margin-bottom: 5px; font-size: 10pt"
            onclick="ui_jeu.toggleGlobalMiniAppMenu()">
        <%= __('hide_global_app_game') %> <i class="fas fa-caret-down"></i>
    </button>
</div>