<!----------------- DAT Digital Assistive Tools (mini-apps) -------------------->
<!-------------------- short version (for external games) ---------------------->

<div id="in-game-app-menu" style="display: none">
    <div class="row">
        <button class="btn btn-outline-warning col-3 without-space" id="btn-miniapp-1"
                style="white-space: normal; margin-left: 15px; margin-bottom: 5px; font-size: 10pt; min-height: 75px">
            <i class=""></i>
        </button>
        <button class="btn btn-outline-warning col-3 without-space" id="btn-miniapp-2"
                style="white-space: normal; margin-left: 5px; margin-bottom: 5px; font-size: 10pt; min-height: 75px">
            <i class=""></i>
        </button>
        <button class="btn btn-outline-warning col-3 without-space" id="btn-miniapp-2"
                style="white-space: normal; margin-left: 5px; margin-bottom: 5px; font-size: 10pt; min-height: 75px">
            <i class=""></i>
        </button>
    </div>
</div>

<div class="row" id="mini-app-game-menu-hide" style="display: none">
    <button class="btn btn-outline-warning col-9" style="margin-left: 20px; margin-bottom: 5px; font-size: 10pt"
            onclick="ui_jeu.toggleInGameMiniAppMenu()">
        <%= __('hide_in_app_game') %> <i class="fas fa-caret-down"></i>
    </button>
</div>

<div class="row" id="mini-app-game-menu-show" style="display: none">
    <button class="btn btn-outline-warning col-9" style="margin-left: 20px; margin-bottom: 5px; font-size: 10pt"
            onclick="ui_jeu.toggleInGameMiniAppMenu()">
        <%= __('show_in_app_game') %> <i class="fas fa-caret-up"></i>
    </button>
</div>

<div id="global-app-menu" style="display: none; background-color: grey;opacity: 0.8;margin: 2%;padding: 3% 0 2% 9% ">
    <div class="row">
        <button class="btn btn-outline-warning col-3 without-space"
                style="white-space: normal;  margin-left: 15px; margin-bottom: 5px; font-size: 10pt; min-height: 75px"
                onclick="ui_jeu.toggleGlobalMiniApp('my-pad')"><%= __('student_pad_button') %>
            <br><i
                    class="fas fa-search"></i></button>
        <button class="btn btn-outline-warning col-3 without-space"
                style="white-space: normal;  margin-left: 5px; margin-bottom: 5px; font-size: 10pt; min-height: 75px"
                onclick="ui_jeu.toggleGlobalMiniApp('class-pad')"><%= __('class_pad_button') %><br><i
                    class="fas fa-search"></i></button>
        <button class="btn btn-outline-warning col-3 without-space"
                style="white-space: normal;  margin-left: 5px; margin-bottom: 5px; font-size: 10pt; min-height: 75px"
                onclick="ui_jeu.toggleGlobalMiniApp('dico-img')"><%= __('dico_button') %><br><i
                    class="fas fa-search"></i></button>
    </div>
</div>

<div class="row m-0" id="toolbox-hide" style="display: none; width: 120%">
    <button class="btn btn-outline-warning col-9" style="margin-left: 20px; margin-bottom: 5px; font-size: 10pt"
            onclick="ui_jeu.toggleGlobalMiniAppMenu()">
        <%= __('hide_global_app_game') %> <i class="fas fa-caret-down"></i>
    </button>
</div>