<!-- Fenêtre modale QR-code pour connecter d'autres appareils -->
<div class="modal fade" id="qrCodeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="connectModalLabel"><%= __('studentAccess') %> 🎓</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1 class="text-center text-dark p-3">PC</h1>
                <section class="d-flex justify-content-around mb-5 align-items-center">
                    <article>
                        <ol>
                            <li class="p-2"><%= __('logInTo')%>
                                <h1 class="text-dark">gameshub.ch</h1>
                            </li>
                            <li class="p-2"><%= __('insertFollowingCode')%>
                                <h1 id="connexionCode" class="text-dark"></h1>
                            </li>
                        </ol>
                    </article>
                    <article>
                        <img src="/media/various/pc-browser.webp"
                             title="Computer icons created by vectorsmarket15 - Flaticon">
                    </article>
                </section>
                <hr class="m-3"/>
                <h1 class="text-center text-dark p-3">iPad</h1>
                <section class="d-flex justify-content-around align-items-center">
                    <article>
                        <canvas id="qrcode"></canvas>
                    </article>
                    <article><img src="/media/various/tablet-qr-code.webp"
                                  title="Computer icons created by balan - Flaticon">
                    </article>
                </section>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/qrious@4.0.2/dist/qrious.min.js"></script>
        <script>
        </script>
    </div>
</div>