<!-- Modal pour afficher la description d'un niveau depuis la vue enseignant -->
<!-- Attention : utilisable uniquement depuis sommaireParcours.ejs -->
<div class="modal fade" id="<%= prefixId %><%= listeExos[globalCounter].id %>"
     aria-labelledby="<%= listeExos[globalCounter].id %>Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="<%= listeExos[globalCounter].gameId %>Niv<%= listeExos[globalCounter].level %>Label"><%= listeExos[globalCounter].gameName %>
                    - Niveau<%= listeExos[globalCounter].level %>
                </h5>
            </div>
            <div class="modal-body">
                <% if (parcoursSteps[globalCounter].consigne) { %>
                    <img src="<%= imageExo %>" class="img-jeu-parcours">
                <div><%= __('description') %><%= parcoursSteps[globalCounter].consigne %>
                    <% } else { %>
                        <img src="<%= imageExo %>" class="img-jeu-parcours">
                    <div><%= __('description') %><%= listeExos[globalCounter].description %>
                        <% } %>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>