<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include _head %>
  </head>
  <body>
  <% include _loading %>
  <div class="container-fluid content-row">
    <div class="row mt-2 mr-2">
      <span class="col-8">
        <% include _lang %>
      </span>
      <div class="col-3 ml-auto">
        <a href="#" onclick="window.location.href='/classes'"
           class="btn btn-outline-danger"><%= __('global_back') %></a>
        <button class="btn btn-outline-warning"
                onclick="ui_global.showConfirmAlert('warning','Déconnexion','Souhaitez-vous vraiment vous déconnecter','Oui',function (){window.location.pathname='/logout'})">
          <i class="fas fa-power-off"></i></button>
      </div>
    </div>
    <section class="jumbotron small-margin">
      <div class="container">
        <h1><%= __('404_title') %></h1>
        <% if(typeof(error) === 'undefined') { %>
          <p><%= __('404_error') %></p>
        <% } else { %>
          <h3><%= error %></h3>
        <% } %>
      </div>
    </section>
  </div>
  </body>
</html>
