<section class="row">
    <div class="col-md-6">
        <h1 class="display-4"><%= __('classes_classes') %></h1>
        <% if(typeof (classes) !== "undefined") { %>
            <details open>
                <summary class="head-theme-color mb-2"><%= __('myClasses') %></summary>
                <div id="sortAndSearchClasses"
                     class="row classe list-group-item-action col-12 justify-content-around mb-2 sortAndSearch"
                     role="tablist">
                    <p><%= __('name') %></p>
                    <a href="#">
                        <span class="label"
                              onclick="ui_global.sortListGroup('<%= sortByName %>','<%= sortAscendant %>','<%= classItem %>')">▼</span>
                        <span class="label"
                              onclick="ui_global.sortListGroup('<%= sortByName %>','<%= sortDescendant %>','<%= classItem %>')">▲</span>
                    </a>
                    <input type="search" class="form-control col-5" placeholder="<%= __('searchClass') %>"
                           onkeyup="ui_global.searchInListGroup(this.value.toLowerCase(),'<%= classItem %>')">
                </div>
                <div class="form-group" id="classes">
                    <!--  div incrémentée via la fonction ui_classes.showClasses() -->
                    <ul id="classList" class="list-group mb-3">
                    </ul>
                </div>
            </details>
        <% } %>
    </div>
    <div class="col-md-6">
        <h1 class="display-4">
            <%= __('classes_students') %>
        </h1>
        <details open>
            <summary class="head-theme-color mb-2" onclick="ui_classes.appendClass()"><%= __('myStudents') %></summary>
            <div id="sortAndSearchStudents"
                 class="row classe list-group-item-action col-12 justify-content-around mb-2 sortAndSearch"
                 role="tablist">
                <p><%= __('name') %></p>
                <a href="#">
                    <span class="label"
                          onclick="ui_global.sortListGroup('<%= sortByName %>','<%= sortAscendant %>','<%= studentItem %>')">▼</span>
                    <span class="label"
                          onclick="ui_global.sortListGroup('<%= sortByName %>','<%= sortDescendant %>','<%= studentItem %>')">▲</span>
                </a>
                <input type="search" class="form-control col-5" placeholder="<%= __('searchStudent') %>"
                       onkeyup="ui_global.searchInListGroup(this.value.toLowerCase(),'<%= studentItem %>')">
            </div>
            <div class="form-group" id="eleves">
                <ul id="lstEleves" class="list-group mb-3">
                </ul>
            </div>
        </details>
    </div>
</section>