<footer>
    <div class="m-5 col-7">
        <h2>GamesHub</h2>
        <p class="infoGamesHub text-justify"><%= __('infoGamesHub1')%></p>
        <p class="infoGamesHub text-justify"><%= __('infoGamesHub2')%> <a href='https://gitlab.com/hep3emfinfopro/node' class="infoContact" target="_blank">Gitlab</a>.</p>
        <p class="infoDevGamesHub text-justify"><%= __('infoDevGamesHub')%> <a href='mailto:contact-project+hep3emfinfopro-gameshub-tickets-33090831-issue-@incoming.gitlab.com' class="infoContact"><%= __('here')%></a>.</p>
    </div>
    <div class="m-5">
        <h2>À propos</h2>
        <img class="m-1 peapl-logo" src="/media/logos/logo-peapl.png">
        <img class="ml-5 peapl-logo" src="/media/logos/logo-erasmus.png">
        <img class="m-1 hep-logo" src="/media/logos/create-light.svg">
    </div>
</footer>