<html>
<head>
    <% include _head %>
    <link rel="stylesheet" type="text/css" href="/css/classes.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
</head>
<body onload="ui_classes.showClassesAdaptiveLearning('<%= JSON.stringify(classes)%>','<%=teacher%>')">
<% include topbar/_topbar.ejs %>
<%
const sortByName = 'name';
const sortByDate = 'date';
const sortAscendant = 'asc';
const sortDescendant = 'desc';
const classItem = 'classe';
const studentItem = 'student';
%>

<div class="container m-auto jumbotron">
    <h1 class="text-center">Adaptive Learning</h1>
    <label class="mt-4 mb-4">Cliquez pour rattacher les classes à Profile Engine</label>
    <% include _classSelection.ejs %>
    <script type="text/javascript" src="/scripts/wrk/wrk.js"></script>
    <script type="text/javascript" src="/scripts/ui/ui_global.js"></script>
    <script type="text/javascript" src="/scripts/ui/ui_classes.js"></script>
</body>
</html>
