<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <% include _head %>
    <link rel="stylesheet" type="text/css" href="/css/classes.css">
    <!--    <script src="https://unpkg.com/feather-icons"></script>-->
</head>
<!-- Les parcours sont chargés en JS pour faciliter le rafraichissement en cas de mise à jour de la liste (ajout, suppression, etc.) -->
<body data-page="home"
      onload="ui_parcours.loadGlobalData(<%= JSON.stringify(parcoursPrives) %>,<%= JSON.stringify(json_per) %>,<%= JSON.stringify(translations) %>); ui_classes.showClasses('<%= JSON.stringify(classes) %>','<%= URL %>','<%= teacherID %>','<%= token %>');">

<%
const deleteMultipleParcours = 'Voulez-vous supprimer l`intégralité des parcours sélectionnés ?';
const multipleDelete = 'Suppression multiple';
const confirm = 'Confirmer';
const sortByName = 'name';
const sortByDate = 'date';
const sortAscendant = 'asc';
const sortDescendant = 'desc';
const classItem = 'classe';
const studentItem = 'student';
const publicParcoursItem = 'parcoursPublic';
const privateParcoursItem = 'parcoursPrive';
const privateParcoursCheckBox = 'parcoursPriveCheckBox';
%>

<% include _loading %>
<nav class="navbar fixed-top">
    <% include _lang %>
    <span class="text-align-center font-italic"><%= __('global_welcome') %>, <%= professeur %>!</span>
    <div class="float-right">
        <% if(roleId === 2 || roleId === 3) { %>
            <div class="btn-group">
                <button type="button" class="btn button-outline dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <%= __('global_admin') %>
                </button>
                <div class="dropdown-menu">
                    <% switch (roleId) {
                    case 3:
                    %>
                    <a href="/admin/role" class="dropdown-item" id="role"><%= __('global_role') %></a>&nbsp
                    <a href="/admin/signalement" class="dropdown-item"
                       id="signalement"><%= __('global_signalement') %></a>&nbsp;
                    <% case 2: %>
                    <a href="/admin/valider" class="dropdown-item" id="valider"><%= __('global_valider') %>
                    </a>
                    <a href="/admin/validerParcours" class="mt-4 dropdown-item"
                       id="validateParcours"><%= __('validate_parcours') %></a>
                    <a href="/adaptiveLearning" class="mt-4 dropdown-item">Adaptive Learning</a>
                    <% default :
                        break;
                    } %>
                </div>
            </div>
        <%
        }
        %>
        <button class="btn button-outline"
                onclick="ui_global.showConfirmAlert('warning','Déconnexion','Souhaitez-vous vraiment vous déconnecter','Oui',function (){window.location.pathname='/logout'})">
            <i class="fas fa-power-off"></i></button>
    </div>
</nav>
<!--<div id="information">-->
<!--    <div class="text-center">-->
<!--        <p class="lead mb-0"><%#= __('classes_information') %></p>-->
<!--        <a href="/about" class="small"><%#= __('about_title') %></a>-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <% include _classSelection.ejs %>
    <div class="row justify-content-between">
        <div class="col">
            <a href="/ajouterClasse" class="btn button" id="addClasse"><%= __('classes_addClass') %></a>
            <a href="/profil/classe" class="btn button" id="profilClasse"><%= __('classes_profilClasse') %></a>
        </div>
        <div class="col">
            <input type="button" value="<%= __('classes_addStudent') %>" class="btn button" id="addEleve"
                   onclick="ui_classes.toggleAddEleve();">
            <a href="/profil/eleve" class="btn button" id="profilEleve"><%= __('classes_profilEleve') %></a>
            <a href="/jeux" class="btn btn-theme-main" id="jouer"><%= __('global_play') %></a>
            <a id="parcoursEleve" href="#" onclick="ui_parcours.loadParcoursByTarget(`#lstEleves`,<%= teacherID %>)"
               class="btn btn-theme-main"><%= __('classes_parcours') %></a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 container">
            <h1 class="display-4"><%= __('classes_parcours') %></h1>
            <details id="parcoursPublics" class="row list-group mb-5" role="tabpanel">
                <summary class="mb-2 head-theme-color"><%= __('classes_parcours_public') %></summary>
                <!-- Sort, Search and Filters Fields -->
                <% if((parcoursPublics) != null) { %>
                    <div id="sortAndSearchParcoursPublics"
                         class="row classe list-group-item-action col-12 justify-content-around mb-2 sortAndSearch">
                        <p><%= __('name') %> </p>
                        <a href="#">
                            <span class="label" onclick="ui_global.sortListGroup('<%= sortByName %>','<%= sortAscendant %>','<%= publicParcoursItem %>')">▼</span>
                            <span class="label" onclick="ui_global.sortListGroup('<%= sortByName %>','<%= sortDescendant %>','<%= publicParcoursItem %>')">▲</span>
                        </a>
                        <p>Date </p>
                        <a href="#">
                            <span class="label" onclick="ui_global.sortListGroup('<%= sortByDate %>','<%= sortAscendant %>','<%= publicParcoursItem %>')">▲</span>
                            <span class="label" onclick="ui_global.sortListGroup('<%= sortByDate %>','<%= sortDescendant %>','<%= publicParcoursItem %>')">▼</span>
                        </a>
                        <input type="search" id="search" class="form-control col-4"
                               placeholder="<%= __('searchParcours') %>"
                               onkeyup="ui_global.searchInListGroup(this.value.toLowerCase(),'<%= publicParcoursItem %>')">
                        <button class="btn btn-outline-peapl-orange" data-toggle="collapse"
                                href="#parcoursPublicsFilters"><%= __('filtres') %></button>
                        <div id="parcoursPublicsFilters" class="row col-12 justify-content-around mt-2 collapse">
                            <select name="licenceFilter" id="licenceFilter" class="custom-select col-2"
                                    onchange="ui_global.searchInListGroup(this.value,'<%= publicParcoursItem %>')">
                                <option selected value="" class="btn"><%= __('licence') %></option>
                                <% parcoursPublics.forEach(parcours => { %>
                                    <script> ui_global.appendIfNotExist('licenceFilter', '<%= parcours.licence %>', 'option')</script>
                                <% }); %>
                            </select>
                            <select name="ownerFilter" id="ownerFilter" class="custom-select col-3"
                                    onchange="ui_global.searchInListGroup(this.value,'<%= publicParcoursItem %>')">
                                <option selected value=""><%= __('owner') %></option>
                                <% parcoursPublics.forEach(parcours => { %>
                                    <script> ui_global.appendIfNotExist('ownerFilter', '<%= parcours.owner %>', 'option')</script>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <% for(var i = 0; i < parcoursPublics.length; i++) { %>
                        <div id="<%= parcoursPublics[i].id %>" class="classe d-flex list-group-item align-items-center"
                             name="<%= publicParcoursItem %>" date="<%= parcoursPublics[i].created %>">
                            <% let competences = JSON.parse(parcoursPublics[i].competences) %>
                            <a class="col-lg-3 col-md-3 col-10"
                               href="/sommaireParcours/<%= defaultStudentId %>/<%= parcoursPublics[i].id %>"
                               title="<%= __('see') %>"><%= parcoursPublics[i].nom %></a>
                            <span class="dateParcours col-2 d-none d-lg-block d-md-block"><strong>Licence : </strong><%= parcoursPublics[i].licence %></span>
                            <span class="dateParcours col-3 d-none d-lg-block d-md-block"><strong>Créé : </strong><%= parcoursPublics[i].created %></span>
                            <span class="dateParcours col-3 d-none d-lg-block d-md-block"><strong><%= __('owner') %> : </strong> <%= parcoursPublics[i].owner %></span>
                            <span class="dateParcours"><a href="#" title="<%= __('download') %>"
                                                          onclick="ui_parcours.duplicatePublicParcours(<%= JSON.stringify(parcoursPrives) %>,<%= JSON.stringify(parcoursPublics[i]) %>)"><i
                                            class="fas fa-cloud-download-alt"></i></a></span>
                        </div>
                    <% } %>
                <% } %>
            </details>
            <details id="parcoursPrives" class="row" role="tabpanel">
                <summary id="" class="mb-2 head-theme-color"><%= __('classes_parcours_private') %></summary>
                <div id="sortAndSearchParcoursPrives"
                     class="row classe list-group-item-action col-12 justify-content-around mb-2 sortAndSearch"
                     role="tablist">
                    <p><%= __('name') %></p><a href="#"/>
                    <span class="label" onclick="ui_global.sortListGroup('<%= sortByName %>','<%= sortAscendant %>','<%= privateParcoursItem %>')">
                        ▼</span>
                    <span class="label" onclick="ui_global.sortListGroup('<%= sortByName %>','<%= sortDescendant %>','<%= privateParcoursItem %>')">▲</span></a>
                    <p>Date </p><a href="#">
                        <span class="label" onclick="ui_global.sortListGroup('<%= sortByDate %>','<%= sortAscendant %>','<%= privateParcoursItem %>')">▲</span>
                        <span class="label" onclick="ui_global.sortListGroup('<%= sortByDate %>','<%= sortDescendant %>','<%= privateParcoursItem %>')">▼</span></a>
                    <input type="search" class="form-control col-4" placeholder="<%= __('searchParcours') %>"
                           onkeyup="ui_global.searchInListGroup(this.value.toLowerCase(),'<%= privateParcoursItem %>')">
                </div>
                <div id="multipleParcoursSelect" class="col m-2 collapse">
                    <input type="checkbox" value="" id=""
                           onclick="ui_global.toggleAll(this,'<%= privateParcoursCheckBox %>')"/>
                    <label class="ml-3 mr-3 text-body"><%= __('select_all') %></label>
                    <a href="#"
                       onclick="ui_global.showConfirmAlert('warning','<%= multipleDelete %>','<%= deleteMultipleParcours %>','<%= confirm %>',function () {
                               ui_parcours.deleteMultipleParcours(ui_global.getSelectedCheckBoxes('<%= privateParcoursCheckBox %>'))
                               });">🗑<a/>
                </div>
                <div id="listeParcoursPrives"></div>
            </details>
            <div>
                <a id="addParcours" href="#frameworkSelection" class="btn btn-theme-main mt-3 mb-2"
                   data-toggle="collapse"><%= __('newParcours') %></a>
                <a href="/sendParcoursBetaData" class="btn btn-theme-main mt-3 mb-2 invisible" target="_blank">Send
                    Tracks to LRS</a>
            </div>
            <div class="row collapse" id="frameworkSelection">
                <label class="m-3 text-white"><%= __('selectFramework') %></label>
                <button class="btn btn-outline-secondary m-2"
                        onclick="ui_global.toggleElement('framework','PER-Framework')">
                    <%= __('P.E.R') %>
                </button>
                <button class="btn btn-outline-secondary m-2"
                        onclick="ui_global.toggleElement('framework','peapl-Framework')">
                    <%= __('PeaplFramework') %>
                </button>
            </div>
            <div class="framework hidden" id="PER-Framework">
                <h3 class="m-3 text-white"><%= __('P.E.R') %></h3>
                <div class="row">
                    <div class="col-2" id="disciplines" role="tablist">
                        <%
                        var i = 0;
                        var json_file = JSON.stringify(json_per);
                        %>
                        <% json_per.disciplines.forEach((discipline) => { %>
                            <span class="list-group-item discipline"
                                  onclick="ui_parcours.afficherCompetences(<%= i %>,this,<%= json_file %>);"><%= discipline.nom %></span>
                            <% i++ %>
                        <% }) %>
                    </div>
                    <div class="col-3" id="competences"></div>
                    <div class="col-4" id="objectifs"></div>
                    <form id="createParcours" class="hidden"
                          onsubmit="ui_parcours.createParcours(document.getElementById('nomParcours').value,document.getElementsByClassName('list-group-item discipline selected')[0].textContent,document.getElementsByClassName('list-group-item objectif selected')[0].textContent,document.getElementById('recap').textContent)">
                        <input id="nomParcours" class="form-control m-2" placeholder="<%= __('parcoursName') %>"
                               onkeyup="" required>
                        <button type="submit"
                                class="btn btn-theme-main col-12 m-2"><%= __('create_parcours') %></button>
                    </form>
                </div>
                <h3 class="m-3 text-white">Récapitulatif des compétences cibles</h3>
                <div class="list-group" id="recap"></div>
            </div>
            <h3 class="m-3 framework hidden text-white" id="peapl-Framework"><%= __('peaplAvailableSoon') %></h3>
        </div>
    </div>
</div>
<% include modals/_shareClassModal.ejs %>
<% include modals/_qrCodeModal.ejs %>
<script type="text/javascript" src="/scripts/wrk/wrk.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_global.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_classes.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_parcours.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>