<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <% include _head %>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<% include _loading %>
<nav class="navbar">
    <% include _lang %>
</nav>
<div id="splash-overlay" class="text-center">
    <h3 class="display-4 py-3 px-2">GamesHub - <%= __('index_title') %></h3>
    <p>Projet par la Haute Ecole pédagogique de Fribourg et le centre de recherche sur l'enseignement/apprentissage par
        les technologies numériques</p>
    <img src="/media/logos/logohep.PNG" alt="HEP | PH FR" id="hep">
    <span id="img-breaker"></span>
    <img src="/media/logos/logocreate.PNG" alt="C R E/A TE" id="create">
    <p>Développé par l'Ecole des Métiers de Fribourg - Section Informatique</p>
    <img src="/media/logos/logoemf.jpg" alt="EMF" id="emf">
</div>
<h1 id="index-title" class="display-3 my-5 text-center px-2">GamesHub - <%= __('index_title') %></h1>
<img class="people-left" src="/media/theme/people-on-the-left.png">
<div class="container row m-auto">
    <section class="m-auto">
        <a class="button btn-lg" href="/<%= util.STUDENT_CONNEXION_EJS %>"><%= __('studentAccess') %> 🎓</a>
    </section>
    <div class="vertical-divider m-auto h-100"></div>
    <section class="col-md-7 col-lg-7 col-xs-12">
        <div class="form-group col-12">
            <label for="username"><%= __('global_email') %></label>
            <input type="email" class="form-control" placeholder="me@example.com" id="email" name="email" required
                   autofocus>
        </div>
        <div class="form-group col-12">
            <label for="password"><%= __('global_password') %></label>
            <input type="password" class="form-control" placeholder="MyPassw0rd" id="password2" name="password" required
                   onkeydown="document.getElementById('password2').setAttribute('type', 'text');"
                   onkeyup="document.getElementById('password2').setAttribute('type', 'password');">
        </div>
        <div class="col-12">
            <a href="/lostpassword" class="label"><%= __('index_forgot') %></a>
        </div>
        <div class="form-group mt-3">
            <button onclick="ui_login.login()" class="btn btn-outline-peapl-orange ml-3">
                <%= __('index_connect') %>
            </button>
            <a href="/signup" class="btn button-outline"><%= __('index_create') %></a>
        </div>
    </section>
</div>
<img class="people-right" src="/media/theme/people-on-the-right.png">
<% include _footer %>
<script src="/scripts/wrk/wrk.js"></script>
<script src="/scripts/ui/ui_login.js"></script>
<script src="/scripts/ui/ui_index.js"></script>
</body>

</html>