<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include _head %>
  </head>
  <body>
  <h1 class="display-3 my-5 text-center">HEP3 - Informations</h1>
  <div class="container">
    <p class="lead">Serveur RESTful: <%= version %></p>
    <p class="lead">Contact de l'administrateur: <%= mail %></p>
  </div>
  </body>
</html>
