<!DOCTYPE html>
<html lang="en">

<head>
    <% include _head %>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/css/jeux.css">
</head>

<body>
<% include topbar/_topbar.ejs %>
<div class="container-fluid content-row">
    <div class="row mt-5">
        <div class="col-sm-3">
            <ul class="list-group list-group-flush mt-3 mb-5" id="discipline">
                <a href="#" class="list-group-item all-discipline discipline"
                   onclick="ui_jeux.showAllDisciplines();"><%= __('jeux_allTopic') %></a>
                <% disciplines.forEach(discipline => { %>
                    <a href="#" class="list-group-item discipline-<%= discipline.id %> discipline"
                       onclick="ui_jeux.filterGamesByDiscipline(<%= discipline.id %>);"><%= discipline.discipline %></a>
                <% }) %>
            </ul>
            <% if(typeof (degres) !== "undefined") { %>
                <select name="harmos" id="harmos" class="selectpicker show-tick" data-size="5">
                    <option selected value="none"><%= __('jeux_allGrade') %></option>
                    <% degres.forEach(degre => { %>
                        <option value="<%= degre.id %>"><%= degre.degre %></option>
                    <% }); %>
                </select>
            <% } %>
            <div class="mt-3"></div>
            <% if(typeof (langues) !== "undefined") { %>
                <select name="language" id="language" class="selectpicker show-tick" data-size="5">
                    <option selected value="none"><%= __('jeux_allLanguages') %></option>
                    <% langues.forEach(langue => { %>
                        <option value="<%= langue.abbr %>"><%= langue.nom %></option>
                    <% }); %>
                </select>
            <% } %>
            <div class="mt-3"></div>
            <% if(typeof (tags) !== "undefined") { %>
                <select name="tag" id="tag" class="selectpicker show-tick" data-live-search="true" data-size="5">
                    <option selected value="none"><%= __('jeux_allTags') %></option>
                    <% tags.forEach(tag => { %>
                        <option value="<%= tag %>"><%= tag %></option>
                    <% }); %>
                </select>
            <% } %>
        </div>
        <% if(typeof (jeux) !== "undefined") { %>
            <div class="col-sm-9">
                <div class="row">
                    <% jeux.forEach(jeu => {
                        if (jeu.inDevelopment || jeu.id === util.UNPLUGGED_ACTIVITY_ID || jeu.id === util.EXTERNAL_LINK_ID)
                            return;
                    %>
                    <div class="col-12 col-lg-6 col-xl-3 jeu jeu_discipline_<%= jeu.discipline %>
			<% if(jeu.lstDegres) { jeu.lstDegres.forEach(degre => { %>jeu_degre_<%= degre %> <% })} %>
			<% if(jeu.lstLangues) { jeu.lstLangues.forEach(lang => { %>jeu_langue_<%= lang.abbr %> <% })} %>
			<% if(jeu.lstTags) { jeu.lstTags.forEach(tag => { %>jeu_tag_<%= tag %> <% })} %>">
                        <a href="/jeu/<%= jeu.id %>" class="card card-perso">
                            <img src="<%= jeu.image %>" alt="image-<%= jeu.nom %>" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title"><%= jeu.nom %></h4>
                                <p class="card-text"><%= jeu.description %></p>
                            </div>
                            <div class="card-footer" style="height: 75px">
                                <p class="small"><%= jeu.objectif %></p>
                                <% if(jeu.lstTags) { %>
                                    <% jeu.lstTags.forEach(tag => { %>
                                        <span class="badge badge-default"><i
                                                    class="fas fa-tag"></i> <%= tag %></span>
                                    <% }); %>
                                <% } %>
                            </div>
                        </a>
                    </div>
                    <% }) %>
                </div>
                <div class="row">
                    <h1><%= __('global_game_in_development') %></h1>
                </div>
                <div class="row">
                    <% jeux.forEach(jeu => {
                        if (!jeu.inDevelopment)
                            return;
                    %>
                    <div class="col-12 col-lg-6 col-xl-3 jeu jeu_discipline_<%= jeu.discipline %>
			<% if(jeu.lstDegres) { jeu.lstDegres.forEach(degre => { %>jeu_degre_<%= degre %> <% })} %>
			<% if(jeu.lstLangues) { jeu.lstLangues.forEach(lang => { %>jeu_langue_<%= lang.abbr %> <% })} %>
			<% if(jeu.lstTags) { jeu.lstTags.forEach(tag => { %>jeu_tag_<%= tag %> <% })} %>">
                        <a href="/jeu/<%= jeu.id %>" class="card card-perso">
                            <img src="<%= jeu.image %>" alt="image-<%= jeu.nom %>" class="card-img-top">
                            <div class="card-body">
                                <h4 class="card-title"><%= jeu.nom %></h4>
                                <p class="card-text"><%= jeu.description %></p>
                            </div>
                            <div class="card-footer" style="height: 75px">
                                <p class="small"><%= jeu.objectif %></p>
                                <% if(jeu.lstTags) { %>
                                    <% jeu.lstTags.forEach(tag => { %>
                                        <span class="badge badge-default"><i
                                                    class="fas fa-tag"></i> <%= tag %></span>
                                    <% }); %>
                                <% } %>
                            </div>
                        </a>
                    </div>
                    <% }) %>
                </div>
            </div>
        <% } %>
    </div>
</div>
<script type="text/javascript" src="/scripts/ui/bootstrap-select.min.js" defer></script>
<script type="text/javascript" src="/scripts/ui/ui_jeux.js"></script>
</body>

</html>
