<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <% include _head %>
</head>

<body>
    <% include _loading %>
  <div class="container">
    <h1 class="display-3 text-center"><%= __('modifypassword_title') %></h1>
    <div class="mt-4 text-center">
      <p class="lead"><%= __('modifypassword_text') %></p>
      <label for="password"><%= __('global_password') %></label>
      <input type="password" name="password" id="password" class="form-control" placeholder="MyPassw0rd" required>
      <label for="confirm"><%= __('modifypassword_repeat') %></label>
      <input type="password" name="confirm" id="confirm" class="form-control" placeholder="MyPassw0rd" required>
      <div id="password-not-same" class="txt-error"><%= __('signup_errorpassword') %></div>
      <div id="password-not-secured" class="txt-error ml-2 pb-2"><%= __('signup_errorsecurity') %></div>
      <input id="btnModify" type="button" onclick="ui_modifypassword.sendPassword()" value="<%= __('modifypassword_confirm') %>"
        class="btn btn-outline-success mt-5">
    </div>
  </div>
  <script src="/scripts/wrk/wrk.js" type="text/javascript"></script>
  <script src="/scripts/ui/ui_modifypassword.js" type="text/javascript"></script>
</body>
</html>