<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <% include _head %>
    <link rel="stylesheet" type="text/css" href="/css/classes.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/parcours.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/scripts/lib/jquery-ui-1.13.1/jquery-ui.min.css">
    <script type="text/javascript" src="/scripts/lib/jquery-ui-1.13.1/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body onload="ui_parcours.loadParcours(<%= JSON.stringify(parcoursData) %>,<%= JSON.stringify(jeux) %>);ui_parcours.loadCheckBoxForClasses();">

<%
var parcoursName = "";
var inputLicence = "Type de licence";
var degre = __('ajouterClasse_select');
var description = "";
const withoutLevelCreationStart = 12; // id du premier jeu les Grams
const withoutLevelCreationEnd = 27; // id du jeu
var competences = {};
if (parcoursData) {
    try {
        parcoursName = parcoursData.nom;
        inputLicence = parcoursData.licence;
        degre = parcoursData.degre;
        description = parcoursData.description;
        competences = JSON.parse(parcoursData.competences);
    } catch (err) {
        console.log(err);
    }
}
%>

<%# include _loading %>
<% include topbar/_topbar.ejs %>

<%= loadMenu() %>
<%= loadInfoTab() %>
<%= loadDesignTab() %>
<%= loadAssignTab() %>

<script>
    $(function () {
        ui_parcours.makeItemsDraggable();
        ui_parcours.makeZoneDroppable();
    });
    feather.replace();
</script>
<script type="text/javascript" src="/scripts/wrk/wrk.js" defer></script>
<script type="text/javascript" src="/scripts/ui/ui_createclasse.js" defer></script>
<script type="text/javascript" src="/scripts/ui/ui_classes.js" defer></script>
<script type="text/javascript" src="/scripts/ui/ui_global.js" defer></script>
<script type="text/javascript" src="/scripts/ui/bootstrap-select.min.js" defer></script>
<script type="text/javascript" src="/scripts/ui/ui_jeux.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_parcours.js" defer></script>

<!--   #######################################################  -->
<!--   ##################### Fonctions #######################  -->
<!--   #######################################################  -->

<% function loadMenu() { %>
    <!-- Liste des onglets -->
    <ul class="nav nav-tabs justify-content-center container mt-5">
        <!-- Onglet des métadonnées -->
        <li class="nav-item d-flex">
            <a id="toggleMetaData" class="nav-link active" href="#"
               onclick="ui_global.toggleElement('tab-content','globalMetaData');
               ui_global.toggleActiveElement('nav-link',this);">
                <span class="d-none d-md-inline-block d-lg-inline-block"><%= __('metaData') %></span> 📋</a>
        </li>
        <!-- Onglet de scénarisation -->
        <li class="nav-item d-flex">
            <a id="toggleSteps" class="nav-link" href="#"
               onclick="ui_global.toggleElement('tab-content','stepsGlobal');
               ui_global.toggleActiveElement('nav-link',this);">
                <span class="d-none d-md-inline-block d-lg-inline-block"><%= __('steps') %></span> ✏️</a>
        </li>
        <!-- Onglet d'assignation -->
        <li class="nav-item d-flex">
            <a id="toggleAssignParcours" class="nav-link" href="#"
               onclick="ui_global.toggleElement('tab-content','assignParcours');
               ui_global.toggleActiveElement('nav-link',this);">
                <span class="d-none d-md-inline-block d-lg-inline-block">Assignation</span> 👥</a>
        </li>
    </ul>
<% } %>

<% function loadInfoTab() { %>
    <div id="globalMetaData" class="container tab-content m-auto">
        <div class="jumbotron pt-1">
            <h1 class="display-5 mt-4 mb-5">Mon parcours</h1>
            <form id="saveParcours"
                  onsubmit="ui_parcours.updateParcoursMetaData('<%= parcoursData.id %>');"
            >
                <section class="row">
                    <fieldset class="row col-7">
                        <label class="col-2 m-2">Titre</label>
                        <input
                                id="nomParcours"
                                class="form-control col-9"
                                type="text"
                                name="nomParcours"
                                value="<%= parcoursName %>"
                                placeholder="mon nouveau parcours"
                                required
                        />
                        <label class="col-2 m-2">Description</label>
                        <textarea
                                id="description"
                                class="form-control col-9"
                                placeholder="Description (facultatif)"
                                rows="3"
                        ><%= description %></textarea>
                    </fieldset>
                    <fieldset class="col-5">
                        <div class="m-1">
                            <label class="col-2 m-2">Licence</label>
                            <select
                                    id="licence"
                                    name="licence"
                                    class="selectpicker show-tick"
                            >
                                <% licenceInfos.data.forEach(licence => {
                                if (licence.key === parcoursData.licence){
                                %>
                                    <option selected value="<%= licence.key %>"><%= licence.value %></option>
                                <% } else { %>
                                    <option value="<%= licence.key %>"><%= licence.value %></option>
                                <% } }); %>
                            </select>
                            <a class="information-text ml-3 text-white"
                               href="#"
                               onclick="ui_global.showHTMLAlert('info', <%= JSON.stringify(licenceInfos.modal_infos) %>,'Licences Creative Commons')"
                            >ⓘ
                            </a>
                        </div>
                        <div class="m-1">
                            <label class="col-2 m-2">Degré(s)</label>
                            <% if(typeof (tags) !== "undefined") { %>
                                <select
                                        id="degre"
                                        name="degre"
                                        class="selectpicker show-tick"
                                        multiple
                                >
                                    <% degres.forEach(degre => {
                                    if (degre.id === parcoursData.degre){
                                    %>
                                        <option selected value="<%= degre.id %>"><%= degre.degre %></option>
                                    <% } else { %>
                                        <option value="<%= degre.id %>"><%= degre.degre %></option>
                                    <% } }); %>
                                </select>
                            <% } %>
                        </div>
                        <div id="tagDiv" class="m-1">
                            <label class="col-2 m-2">Tag(s)</label>
                            <% if(typeof (tags) !== "undefined") { %>
                                <select
                                        id="tag"
                                        name="tag"
                                        class="selectpicker show-tick"
                                        multiple
                                        onchange="this.options[0].removeAttribute('selected')"
                                >
                                    <% if (!parcoursData.tag) { %>
                                        <option value="" selected disabled><%= __('addTag') %></option>
                                    <% } %>
                                    <% tags.forEach(tag => {
                                    if (tag === parcoursData.tag){
                                    %>
                                        <option selected value="<%= tag %>"><%= tag %></option>
                                    <% } else { %>
                                        <option value="<%= tag %>"><%= tag %></option>
                                    <% }}); %>
                                </select>
                            <% } %>
                        </div>
                    </fieldset>
                </section>
                <h2 class="mt-5"><%= __('targetSkills') %></h2>
                <fieldset id="disciplines" class="row">
                    <label class="col-2 m-2"><%= __('discipline') %></label>
                    <input
                            id="nomParcours"
                            class="form-control col-4"
                            type="text"
                            value="<%= competences.discipline %>"
                            disabled
                    />
                    <input type="submit" value="Sauvegarder" class="col-2 btn-theme-main offset-2">
                    <label class="col-2 m-2"><%= __('selectLearningGoal') %></label>
                    <input
                            id="nomParcours"
                            class="form-control col-4"
                            type="text"
                            value="<%= competences.competence %>"
                            disabled
                    />
                </fieldset>
            </form>
        </div>
    </div>
<% } %>

<% function loadDesignTab() { %>
    <div id="stepsGlobal" class="container-fluid tab-content m-auto">
        <div class="jumbotron">
            <h1 class="copieNomParcours display-4"></h1>
            <span id="InfoDragAndDrop" class="text-white invisible">Veuillez glisser le <span
                        class="game-level-link badge-success">niveau</span> sur les flèches <span class="boutonNext"><i
                            data-feather="chevrons-right"></i></span>et <i class="boutonRemed"
                                                                           data-feather="rotate-cw"></i>.  Déposer quand le voyant est au vert.</span><a
                    id="updateParcours" class="invisible validation-parcours btn btn-warning"
                    onclick="ui_parcours.saveParcours(($(this).attr('id')));"><%= __('save_my_path') %></a>
            <div id="steps" class="col-md-12 mt-5 mb-5 align-content-center">
                <span id="empty_parcours_welcome_text"><%= __('parcours_empty_welcome') %></span>
                <div id="firstSteps" class="row flex-nowrap"></div>
                <div id="remediations" class="row flex-nowrap"></div>
            </div>
            <div id="label_jeux" class="text-white mb-2"><%= __('games') %> / <%= __('levels_to_be_selected') %></div>

            <% if(typeof (disciplines) !== "undefined") { %>
                <select name="discipline" id="discipline" class="selectpicker show-tick" data-live-search="true"
                        data-size="5">
                    <option selected value="none"><%= __('jeux_allTopic') %></option>
                    <% disciplines.forEach(discipline => { %>
                        <option value="<%= discipline.id %>"><%= discipline.discipline %></option>
                    <% }); %>
                </select>
            <% } %>
            <% if(typeof (json_per.disciplines[0].competences) !== "undefined") { %>
                <select name="globalCompetencies" id="globalCompetencies" class="selectpicker show-tick"
                        data-live-search="true" data-size="5">
                    <option selected value="none"><%= __('jeux_all_global_competencies') %></option>
                    <% json_per.disciplines[0].competences.forEach(competence => { %>
                        <option value="<%= competence.id %>"><%= competence.nom %></option>
                    <% }); %>
                </select>
            <% } %>
            <% if(typeof (json_per.disciplines[0].competences[0]) !== "undefined") { %>
                <select name="specificCompetencies" id="specificCompetencies" class="selectpicker show-tick"
                        data-live-search="true" data-size="6">
                    <option selected value="none"><%= __('jeux_all_specific_competencies') %></option>
                    <% json_per.disciplines[0].competences[0].objectifs.forEach(objectif => { %>
                        <option value="<%= objectif.id %>"><%= objectif.nom %></option>
                    <% }); %>
                </select>
            <% } %>
            <% if(typeof (tags) !== "undefined") { %>
                <select name="tag" id="tag" class="selectpicker show-tick" data-live-search="true" data-size="5">
                    <option selected value="none"><%= __('jeux_allTags') %></option>
                    <% tags.forEach(tag => { %>
                        <option value="<%= tag %>"><%= tag %></option>
                    <% }); %>
                </select>
            <% } %>
            <% if(typeof (degres) !== "undefined") { %>
                <select name="harmos" id="harmos" class="selectpicker show-tick" data-size="5">
                    <option selected value="none"><%= __('jeux_allGrade') %></option>
                    <% degres.forEach(degre => { %>
                        <option value="<%= degre.id %>"><%= degre.degre %></option>
                    <% }); %>
                </select>
            <% } %>
            <% if(typeof (langues) !== "undefined") { %>
                <select name="language" id="language" class="selectpicker show-tick" data-size="5">
                    <option selected value="none"><%= __('jeux_allLanguages') %></option>
                    <% langues.forEach(langue => { %>
                        <option value="<%= langue.abbr %>"><%= langue.nom %></option>
                    <% }); %>
                </select>
            <% } %>
            <div class="row justify-content-between mb-4">


            </div>
            <% if(typeof (jeux) !== "undefined") { %>
                <div class="row justify-content-center">
                    <% jeux.forEach(jeu => {
                        var exploreActivity = __('activity_explore');
                        var createActivity = __('activity_create');
                        var addLevel = __('addLevel');
                        var addLevelHref = `/${util.RUN_STEP_KEYWORD}/pixi/0/${jeu.id}/create`;
                        var plusButton = '➕';
                        var dataTarget = '';
                        var dataToggle = '';
                        if (jeu.id >= withoutLevelCreationStart && jeu.id < withoutLevelCreationEnd) {
                            addLevel = '';
                            plusButton = '';
                            createActivity = '';
                            if (jeu.id === util.UNPLUGGED_ACTIVITY_ID || jeu.id === util.EXTERNAL_LINK_ID) {
                                exploreActivity = '';
                                plusButton = '➕';
                                addLevel = __('addActivity');
                                addLevelHref = '#';
                                dataToggle = 'data-toggle = modal';
                                if (jeu.id === util.UNPLUGGED_ACTIVITY_ID)
                                    dataTarget = 'data-target = #unplugged' + util.UNPLUGGED_ACTIVITY_ID;
                                else if (jeu.id === util.EXTERNAL_LINK_ID)
                                    dataTarget = 'data-target = #unplugged' + util.EXTERNAL_LINK_ID;
                            }
                        }
                        // if(jeu.inDevelopment)
                        //     return;
                    if(jeu.hpa)
                        return;
                    else { %>
                        <div role="game-box" class="col-md-6 col-lg-4 row flex-nowrap">
                            <div class="col-md-6 col-lg-5 mb-3  jeu jeu_discipline_<%= jeu.discipline %>
			<% if(jeu.lstDegres) { jeu.lstDegres.forEach(degre => { %>jeu_degre_<%= degre %> <% })} %>
			<% if(jeu.lstLangues) { jeu.lstLangues.forEach(lang => { %>jeu_langue_<%= lang.abbr %> <% })} %>
			<% if(jeu.lstTags) { jeu.lstTags.forEach(tag => { %>jeu_tag_<%= tag %> <% })} %>">
                                <article id="<%= jeu.id %>" class="card card-perso text-info">
                                    <img src="<%= jeu.image %>" alt="image-<%= jeu.nom %>" class="img-jeu-parcours">
                                    <div class="card-body">
                                        <label class="card-title text-warning font-weight-bold"><%= jeu.nom %></label>
                                        <p class="small"><%= jeu.description %></p>
                                    </div>
                                    <div class="card-footer">
                                        <p class="small"><%= jeu.objectif %></p>
                                        <% if(jeu.lstTags) { %>
                                            <% jeu.lstTags.forEach(tag => { %>
                                                <span class="badge badge-default"><i
                                                            class="fas fa-tag"></i> <%= tag %></span>
                                            <% }); %>
                                        <% } %>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-5 col-lg-5 card niveaux-jeu mb-3">
                                <% if(typeof (exos) !== "undefined") { %>
                                    <% var levelLabel = 'Niv-' %>
                                    <% exos.forEach(exo => { %>
                                        <% if(exo.gameId === jeu.id) { %>
                                            <a class="game-level-link badge-light row justify-content-between mb-2 initial-show"
                                               stepLevel="<%= levelLabel %><%= exo.level %>" role="<%= jeu.nom %>"
                                               gameId="<%= exo.gameId %>" stepId="<%= exo.id %>" href="#"
                                               gameImage="<%= jeu.image %>">
                                                <% if(exo.stateId === 2) { %>
                                                    <span title="Validé par l'Admin">✔️</span>
                                                    <%= __('game_level') %> <%= exo.level %>
                                                    <span aria-label="<%= exo.image %>"
                                                          onmouseover="ui_parcours.showLevelPreview(this)"
                                                          onmouseleave="ui_parcours.hideLevelPreview(this)"
                                                          data-toggle="modal"
                                                          data-target="#id-<%= exo.id %>">👁‍🗨</span>
                                            </a>
                                            <% } else if (exo.stateId === 3){
                                                levelLabel = '';
                                            if (exo.studentId === defaultStudentId) { %>
                                                <span title="Activité privée"><img src="/media/controls/lock.png"
                                                                                   alt="made by Vector Stall - Flaticon"></span>
                                                <%= exo.level %><span>
                                    <span class="mr-1" aria-label="<%= exo.image %>"
                                          onmouseover="ui_parcours.showLevelPreview(this)"
                                          onmouseleave="ui_parcours.hideLevelPreview(this)" data-toggle="modal"
                                          data-target="#unplugged<%= exo.id %>">👁‍🗨</span><span
                                                            onclick="ui_parcours.deleteExercice(<%= exo.id %>)">❌</span>
                                </span></a>
                                            <% }}else if (exo.stateId === 1){
                                                    try {
                                                const jsonExo = JSON.parse(exo.exercice);
                                            %>
                                            <span title="En attente de validation">🕓</span>
                                            <%= __('game_level') %> <%#=exo.level%><% try {
                                                var exoName = jsonExo.name['fr'];
                                            } catch (e) {
                                                ;
                                            } %>
                                            <%= exoName %>
                                            <span aria-label="<%= exo.image %>"
                                                  onmouseover="ui_parcours.showLevelPreview(this)"
                                                  onmouseleave="ui_parcours.hideLevelPreview(this)" data-toggle="modal"
                                                  data-target="#id-<%= exo.id %>">👁‍🗨</span></a><% } catch (e) {
                                                console.log("not JSON");
                                            }} %>
                                            <!-- Modal pour Exo -->
                                            <% if (exo.stateId === 3) {
                                                const activityForm = JSON.parse(exo.exercice); %>
                                            <div class="modal fade" id="unplugged<%= exo.id %>" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <img class="col-2" src="<%= exo.image %>">
                                                            <h5 class="modal-title"><%= exo.level %></h5>
                                                            <a class="closeButton" href="#" data-dismiss="modal">Ⓧ</a>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form>
                                                                <div class="form-group row">
                                                                    <label class="col-3 col-form-label">Nom de
                                                                        l'activité</label>
                                                                    <input type="text" class="col-8 form-control"
                                                                           role="name"
                                                                           readonly="readonly"
                                                                           value="<%= activityForm.name; %>"></div>
                                                                <div class="form-group row">
                                                                    <label class="col-3 col-form-label">consigne</label>
                                                                    <textarea type="text" class="col-8 form-control"
                                                                              role="consigne"
                                                                              readonly="readonly"><%= activityForm.consigne %></textarea>
                                                                </div>
                                                                <div class="form-group row">
                                                                    <label class="col-3 col-form-label">Description</label>
                                                                    <textarea type="text" class="col-8 form-control"
                                                                              role="description"
                                                                              readonly="readonly"><%= activityForm.description %></textarea>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer"></div>
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Fermer
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } else { %>
                                                <div class="modal fade" id="id-<%= exo.id %>" tabindex="-1"
                                                     stepId="<%= exo.id %>Label" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title"
                                                                    id="<%= exo.gameId %>Niv<%= exo.degreeId %>Label"><%= jeu.nom %>
                                                                    - <%= levelLabel %> <%= exo.level %></h5>
                                                                <i data-dismiss="modal" data-feather="x-octagon"></i>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="<%= exo.image %>" alt="image-<%= exo.nom %>"
                                                                     class="img-jeu-parcours">
                                                                <div><%= __('description') %><%= exo.description %></div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Annuler
                                                                </button>
                                                                <a class="btn btn-outline-success"
                                                                   href="/<%= util.RUN_STEP_KEYWORD %>/pixi/<%= exo.id %>/<%= exo.gameId %>/evaluate"
                                                                   target="_blank"><%= __('level_explore') %></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                        <% } %>
                                    <% }) %>
                                    <a class="game-level-link badge-light row justify-content-center mb-2 initial-show"
                                       stepLevel="Explor" role="<%= jeu.nom %>" gameId="<%= jeu.id %>"
                                       href="#"><%= exploreActivity %></a>
                                    <a class="game-level-link badge-light row justify-content-center mb-2 initial-show"
                                       stepLevel="Explor" role="<%= jeu.nom %>" gameId="<%= jeu.id %>"
                                       href="#"><%= createActivity %></a>
                                    <a class="badge-info row justify-content-center mb-2 initial-show"
                                       stepLevel="<%= __('jeuxTemplate_create') %>" role="<%= jeu.nom %>"
                                       gameId="<%= jeu.id %>"
                                       href="<%= addLevelHref %>" <%= dataToggle %> <%= dataTarget %> ><span
                                                class="mr-3"
                                                title="<%= __('jeuxTemplate_create') %>"><%= plusButton %></span><%= addLevel %>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    <% }}) %>
                </div>
            <% } %>
        </div>
    </div>
<% } %>

<% function loadAssignTab() { %>
    <div id="assignParcours" class="container tab-content m-auto">
        <div class="jumbotron">
            <h1 class="copieNomParcours display-4"></h1>
            <p class="text-white"><%= __('select_to_assign') %></p>
            <div class="row">
                <div id="lstClasses" class="col-md-6">
                    <h1 class="display-5"><%= __('classes_classes') %></h1>
                    <% if(typeof (classes) !== "undefined") { %>
                        <div class="form-group" id="classes">
                            <ul class="list-group mb-3">
                                <% for(var i = 0; i < classes.length; i++) { %>
                                    <a href="#"
                                       class="list-group-item classe d-flex justify-content-between"
                                       id="classe<%= classes[i].id %>"
                                       onclick="ui_classes.setClasse(<%= classes[i].id %>);"
                                    >
                                        <span class=""><%= classes[i].nom %> (<%= classes[i].degre %>)
                                        </span>
                                        <span>
                                            <input type="checkbox"
                                                   onchange="ui_parcours.assignParcours(this,'<%= classes[i].id %>','<%= classes[i].nom %>','class')">
                                        </span>
                                    </a>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                </div>
                <div class="col-md-6">
                    <h1 class="display-5">
                        <%= __('classes_students') %>
                    </h1>
                    <div class="form-group" id="eleves">
                        <ul id="lstEleves" class="list-group mb-3">

                        </ul>
                    </div>
                </div>
                <div class="modal fade" id="modal_share" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><%= __('classes_share') %></h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><%= __('classes_modal_text') %></p>
                                <p id="modal_share_link"></p>
                                <p><%= __('classes_modal_warning') %></p>
                                <p><%= __('classes_modal_share_text') %></p>
                                <div id="modal_share_fast">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="<%= __('classes_modal_email_placeholder') %>">
                                    <textarea name="text" rows="4" cols="6" id="text"
                                              class="form-control mt-2"></textarea>
                                    <input type="button" id="sendbtn" value="<%= __('classes_modal_email_send') %>"
                                           class="btn btn-outline-success mt-2" onclick="ui_classes.sendEmail()">
                                    <div class="progress" id="progressbar">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                                             role="progressbar"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 100%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal"><%= __('global_back') %></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>

</body>

</html>