<html>
<head>
    <% include _head %>
    <link rel="stylesheet" type="text/css" href="/css/classes.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
</head>
<body data-page="qr-code-access"
        onload="ui_classes.showClassQrCode('<%= JSON.stringify(classes) %>');">
<body>
<% include topbar/_topbar.ejs %>

<%
const sortByName = 'name';
const sortByDate = 'date';
const sortAscendant = 'asc';
const sortDescendant = 'desc';
const classItem = 'classe';
const studentItem = 'student';
%>

<div class="container jumbotron m-auto">
    <h1 class="text-center"><%= __('studentAccess') %> 🎓</h1>
    <h3 class="m-5 text-white text-center">Clique sur ton prénom pour accéder aux jeux</h3>
    <% include _classSelection.ejs %>
    <script type="text/javascript" src="/scripts/wrk/wrk.js"></script>
    <script type="text/javascript" src="/scripts/ui/ui_global.js"></script>
    <script type="text/javascript" src="/scripts/ui/ui_classes.js"></script>
</body>
</html>