<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <% include _head %>
</head>

<body>
  <% include _loading %>
  <nav class="navbar">
    <% include _lang %>
  </nav>
  <h1 class="display-3 my-5 text-center">GamesHub - <%= __('index_title') %></h1>
  <div class="container">
    <div class="form-group">
      <label for="username"><%= __('global_email') %> </label>
      <input type="email" class="form-control" placeholder="audergonv@edufr.ch" id="email" name="email" required>
<!--      Code désactivé pour ne plus restreindre l'accès à certains domaines-->
<!--      <small><%#= __('signup_acceptedaddress') %>-->
<!--        <%# for(let i = 0; i < emails.length; i++) { %>-->
<!--        <span><%#= emails[i] %><%# if(i != emails.length -1) { %>, <%# } %></span>-->
<!--        <%# } %>-->
<!--      </small>-->
    </div>
    <div class="form-group">
      <label for="password"><%= __('global_password') %> </label>
      <input type="password" class="form-control" placeholder="MyPassw0rd" id="password" name="password" required>
    </div>
    <div class="form-group">
      <label for="password"><%= __('signup_confirmpassword') %> </label>
      <input type="password" class="form-control" placeholder="MyPassw0rd" id="confirm" name="confirm" required>
    </div>
    <label id="password-not-same" class="d-block ml-2 pb-2"><%= __('signup_errorpassword') %></label>
    <label id="password-not-secured" class="ml-2 pb-2"><%= __('signup_errorsecurity') %></label>
    <div class="form-group">
      <a class="btn button-outline float-left" href="/"><%= __('global_back') %></a>
      <input type="button" onclick="ui_signup.signUp()" value="<%= __('signup_create') %>" class="btn button float-right" id="createBtn" disabled>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/wrk/wrk.js"></script>
  <script type="text/javascript" src="/scripts/ui/ui_signup.js"></script>
</body>

</html>