/* GLOBAL */

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    z-index: 1000;
}

.sortAndSearch {
    background-color: transparent;
    color: whitesmoke;
    margin-left: 0 !important;
}

.infoContact {
    color: whitesmoke;
    font-weight: bold;
}

.infoGamesHub, .infoDevGamesHub {
    font-size: smaller;
}

footer {
    position: relative;
    top: 150px;
}

footer div {
    margin-top: 10px;
    width: 50%;
}

footer img {
    width: auto;
}


* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}


.txt-error {

    color: red;

    font-size: 1.2rem;

}


.txt-success {

    color: green;

    font-size: 1.2rem;

}

.list-group {
    max-height: 250px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    /* Suppression des bordures du scrollbar pour Firefox */
    scrollbar-width: thin;
}

/********* Suppression des bordures du scrollbar pour Chrome, Edge et Safari **************/
.list-group::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Définition de la couleur et du style de la bordure */
.list-group::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Couleur de la barre de défilement */
    border: 2px solid #888; /* Bordure de la barre de défilement */
}

/* Pour cacher les coins de la zone du scrollbar */
.list-group::-webkit-scrollbar-corner {
    display: none;
}

/***************************************************************************************************/

.hide {
    display: none !important;
}

.hidden {
    display: none;
}

.img-flag {
    width: 20%;
    max-width: 35px;
}

.gamesHub-title:before {
    content: "GAMESHUB";
}

.selected-tts {
    background-color: yellow;
}

.tts-menu {
    font-size: 35px;
}

.btn-DAT {
    white-space: normal;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 10pt;
    min-height: 75px;
    width: 30%;
}

/*#global-app-menu{*/
/*    display: none;*/
/*    background-color: lightblue;*/
/*    opacity: 0.98;*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*}*/
#global-app-menu{
    display: none;
    background-color: lightblue;
    opacity: 0.98;
    /*height: 100vh;*/
    width: 100%;    
}
