.selected {
    background-color: #9FE386;
}

#table-wrapper {
    width:100%;
    position:relative;
    margin-bottom: 25px;
}
.small-margin {
    padding-top: 20px;
    padding-bottom: 25px;
}

#table-scroll {
    width:100%;
    height:450px;
    overflow:auto;
}
#table-wrapper table {
    width:100%;
}

#table-wrapper table td {
    text-align: left;
}

.nomargin-bottom {
    margin-bottom: 0px;
}