<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../_head %>
    <link rel="stylesheet" type="text/css" href="/css/jeuxTemplate.css">
    <style id="styleJeu" type="text/css">
    </style>
</head>
<body onload="ui_jeu.loadGamePhaser('<%= gameMode %>','<%= forcedExerciceId %>','<%= DAT_load %>')">
<%
const currentPage = util.PARCOURS_TEMPLATE_PHASER_EJS;
%>
<% include ../../_loading %>
<div id="screen">
    <% include ../../topbar/_topbarParcours %>
    <div class="mx-2 my-2">
        <div id="phaser-game"></div>
        <canvas id="canvas" width="0" height="0" style="margin: 0 auto; display: block;"></canvas>
    </div>
    <div style="position:fixed;bottom: 0; width: 100%;">
        <% if (DAT_load){ %>
        <% include ../../studentMenu/_full_DAT.ejs %>
            <div id="toolbox-show" class="row m-0 justify-content-start flex-nowrap">
                <button class="btn DAT-button m-2"
                        onclick="ui_jeu.toggleGlobalMiniAppMenu()">
                    <%= __('show_global_app_game') %> <i class="fas fa-caret-up"></i>
                </button>
                <button class="btn DAT-button m-2"
                        onclick="ui_jeu.toggleGlobalMiniApp('dico-img')">📚 ⌕ <%= __('dico_button') %>
                </button>
                <input type="text" class="hidden"/>
            </div>
        <% } %>
    </div>
    <% include ../../studentMenu/_padBox.ejs %>
    <% include ../../modals/_TTSModal.ejs %>

    <script type="text/javascript" src="/scripts/lib/xlsx.mini.min.js"></script>
    <script type="text/javascript" src="/modules/pixi/wrk/tts_google.js"></script>
    <script type="text/javascript" src="/modules/pixi/wrk/tts_mozilla.js"></script>
    <script type="text/javascript" src="/modules/pixi/lib/phaser.min.js"></script>
    <script type="text/javascript" src="/scripts/lib/require.js"></script>
    <script type="text/javascript" src="/scripts/wrk/wrk.js"></script>
    <script type="text/javascript" src="/modules/pixi/wrk/gameloaderPhaser.js"></script>
    <script type="text/javascript" src="/scripts/ui/ui_global.js"></script>
    <script type="text/javascript" src="/modules/pixi/ui/ui_jeu.js"></script>
    <script type="text/javascript" src="/scripts/ui/ui_parcours.js"></script>
    <script type="text/javascript" src="/scripts/ui/ui_adaptiveLearning.js"></script>
    <script type="text/javascript">
        let currentLang = '<%= language %>';
    </script>
</body>

</html>