<%
var backTarget;
updateBackTarget();
%>
<div id="topBar" class="row m-1 p-1 shadow-lg rounded justify-content-between">
    <div class="col-lg-6 col-md-7 col-sm-12">
        <div class="mt-2">
            <% try { %>
                <label><%= eleve.classe %> (<%= eleve.degre %>) : </label>
                <label><%= eleve.nom %></label>
            <% } catch (error) { %>
                <p></p>
            <% } %>
        </div>
    </div>
    <!--    Bouton retour   -->
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="float-right">
            <button class="text-center btn button-outline" onclick="ui_global.showMiniTopBar()">△</button>
            <!-- Dans la page des parcours élève, on impose le mdp prof pour retour en arrière -->
            <% if (currentPage === `${util.STUDENT_ALL_PARCOURS_EJS}`) { %>
                <a href="#" class="btn button-outline m-1"
                   onclick="ui_global.teacherAccessAlert('<%= teacherEmail %>','<%= backTarget %>')">
                    <%= __('global_back') %></a>
            <% } else { %>
                <a href="#" class="btn button-outline ml-auto"
                   onclick="window.location='<%= backTarget %>'">
                    <%= __('global_back') %>
                </a>
            <% } %>
            <button class="btn button-outline"
                    onclick="ui_global.showConfirmAlert('warning','Déconnexion','Souhaitez-vous vraiment vous déconnecter','Oui',function (){window.location.pathname='/logout'})">
                <i class="fas fa-power-off"></i></button>
        </div>
    </div>
</div>
<% include _miniTopBar.ejs %>
<%
function updateBackTarget() {
    switch (currentPage) {
        case util.RUN_PARCOURS_EJS:
        case util.SOMMAIRE_PARCOURS_EJS:
            backTarget = `/${util.STUDENT_ALL_PARCOURS_EJS}/${eleve.id}`;
            break;
        case util.PARCOURS_TEMPLATE_EXT_EJS:
        case util.PARCOURS_TEMPLATE_PIXI_EJS:
            backTarget = `/${util.RUN_PARCOURS_EJS}/${eleve.id}/${parcours.id}`;
            break;
        case util.FREE_GAME_MODE:
            backTarget = `/${util.GAMES_EJS}`;
        default:
            backTarget = `/${util.HOME_EJS}`;
            break;
    }
}
%>