<!-- Page de validation du jeu numéro 11 : "Par ici ou par là" -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../_head %>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/css/modifier_exercice.css">
</head>
<body class="container">
<% include ../_loading %>
<div class="navbar">
    <% include ../_lang %>
    <div>
        <a href="#"
           onclick="window.location.href='<%= back === 'valider' ? '/admin/valider' : '/admin/signalement' %>'"
           id="backBtn" class="btn btn-outline-danger"><%= __('global_back') %>
        </a>
        <button class="btn btn-outline-warning"
                onclick="ui_global.showConfirmAlert('warning','Déconnexion','Souhaitez-vous vraiment vous déconnecter','Oui',function (){window.location.pathname='/logout'})">
            <i class="fas fa-power-off"></i></button>
    </div>
</div>
<section id="global-meta-data" class="m-4 p-3">
    <h3 class="text-white"><%= __('globalMetaData') %></h3>
    <article class="row m-2">
        <button class="m-3 btn btn-outline-light" data-toggle="collapse"
                data-target="#PER-Framework"><%= __('selectLearningGoal') %></button>
        <div class="framework collapse m-3 col-9" id="PER-Framework">
            <%
            var i = 0;
            var json_file = JSON.stringify(json_per);
            %>
            <select id="discipline" class="col-3 selectpicker" data-size="5"
                    onchange="ui_parcours.showLearningGoal(this.value)">
                <option value="<%= __('noValueSelected') %>" disabled selected><%= __('discipline') %></option>
                <% json_per.disciplines.forEach((discipline) => { %>
                    <option value="<%= i %>" hpa="<%= discipline.nom %>"><%= discipline.nom %></option>
                <% i++ }) %>
            </select>
            <select id="compets" class="col-8 selectpicker show-tick" data-size="5">
                <option value="<%= __('noValueSelected') %>" disabled selected><%= __('selectTargetSkill') %></option>
            </select>
        </div>
    </article>
    <textarea id="descriptionExo" class="mt-3 form-control col-11"
              placeholder="<%= __('addDescription') %>"></textarea>
    <div class="mt-4">
        <label class="text-white">Choisir une image de l'exercice</label>
        <input type="file" id="output" class="ml-2 text-white" name="" accept="image/png, image/jpeg"
               onchange="ui_parcours.previewImageValidation()">
    </div>
    <div role="image-preview" class="row" style="text-align: center; margin-top: 20px">
        <div class="col-5"></div>
        <img id="img_preview" class="col-3">
    </div>
</section>
<hr>
<div id="specific-meta-data" class="m-4 d-flex justify-content-around flex-wrap">
    <h3 class="col-12 text-white"><%= __('specificMetaData') %></h3>
    <fieldset class="list-group form-group border p-3 col-3">
        <legend class="text-white">Disposition du texte</legend>
        <li class="list-group-item">
            <input type="checkbox" name="texte">
            <label>Texte</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="puces">
            <label>Puces</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="dialogue">
            <label>Dialogue</label>
        </li>
    </fieldset>
    <fieldset class="list-group form-group border p-3 col-3">
        <legend class="text-white">Longueur du texte</legend>
        <li class="list-group-item">
            <input type="number" name="texte" min="0" class="col-4">
            <label>Phrases</label>
        </li>
        <li class="list-group-item">
            <input type="number" name="puces" min="0" class="col-4">
            <label>Puces</label>
        </li>
    </fieldset>
    <fieldset class="list-group form-group border p-3 col-3">
        <legend class="text-white">Lieux</legend>
        <li class="list-group-item">
            <input type="number" name="texte" min="0" class="col-4">
            <label>Lieux sur le plan</label>
        </li>
        <li class="list-group-item">
            <input type="number" name="puces" min="0" class="col-4">
            <label>Lieux concernés</label>
        </li>
    </fieldset>
    <fieldset class="list-group form-group border p-3 col-4">
        <legend class="text-white">Autres facteurs</legend>
        <li class="list-group-item">
            <input type="checkbox">
            <label>Informations inutiles (distraction)</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox">
            <label>Texte linéaire</label>
        </li>
    </fieldset>
    <fieldset class="list-group form-group border p-3 col-4">
        <legend class="text-white">Temps employés</legend>
        <li class="list-group-item">
            <input type="checkbox" value="Le présent de l'indicatif">
            <label>Le présent de l'indicatif</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" value="Le passé composé">
            <label>Le passé composé</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" value="Le passé simple">
            <label>Le passé simple</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" value="L'imparfait">
            <label>L'imparfait</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" value="Le plus que parfait">
            <label>Le plus que parfait</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" value="Le futur">
            <label>Le futur</label>
        </li>
        <li class="list-group-item">
            <input type="checkbox" value="L'impératif">
            <label>L'impératif</label>
        </li>
    </fieldset>
</div>
<div class="row justify-content-center">
    <label class="text-white m-2" for="levels"><%= __('selectDifficultyLevel') %></label>
    <select name="levels" id="levels" class="selectpicker show-tick" data-size="5">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</div>
<div class="m-5 row justify-content-around">
    <a class="btn btn-danger" href="javascript:alertDelete();"
       role="button"><%= __('admin_valider_exercice_delete') %></a>
    <a class="btn btn-success" href="javascript:saveAndExit();"
       role="button"><%= __('admin_valider_exercice_save_and_validate') %></a>
</div>
<script src="/scripts/wrk/wrk.js"></script>
<script type="text/javascript" src="/scripts/ui/ui_parcours.js"></script>
<!--<script type="text/javascript" src="/scripts/ui/validerExercice/ui_modifier_exercice_11.js"></script>-->
<script type="text/javascript">

    var alertDelete = function () {
        Swal.fire({
            icon: 'warning',
            title: '<%= __('admin_valider_alert_title') %>',
            text: '<%= __('admin_valider_alert_text') %>',
            showCancelButton: true,
            confirmButtonColor: '#d33d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: "<%= __('admin_valider_alert_confirm') %>",
            cancelButtonText: '<%= __('admin_valider_alert_cancel') %>'
        }).then((result) => {
            if (result.value) {
                // const oui = id;
                <!--const non =  <%- id %>;-->
                // console.log(oui, non);
                console.log('ok', exId);
                wrk.send('/admin/valider/supprimer', false, {exercice: exId}, function (data, success) {
                    Swal.fire({
                        title: data.message,
                        icon: data.status,
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    }).then((result) => {
                        $('#backBtn').click();
                    });
                    // console.log(response, success)
                    // $('#returnBtn').click();
                }, true);
                // ui_modifier_exercice_1.delete(<%= id %>);
            }
        });
    };

    const createJsonMetaData = function () {
        const specificMetaData = {};
        const fieldSets = document.querySelectorAll('#specific-meta-data fieldset');
        const textDisplayElements = fieldSets[0].querySelectorAll('li input');
        const textLengthElements = fieldSets[1].querySelectorAll('li input');
        const locations = fieldSets[2].querySelectorAll('li input');
        const otherFactors = fieldSets[3].querySelectorAll('li input');
        const timesUsed = fieldSets[4].querySelectorAll('li input');

        textDisplayElements[0].checked ? specificMetaData.text = true : specificMetaData.text = false;
        textDisplayElements[1].checked ? specificMetaData.bullets = true : specificMetaData.bullets = false;
        textDisplayElements[2].checked ? specificMetaData.dialogue = true : specificMetaData.dialogue = false;

        specificMetaData.discipline = $("#discipline option:selected").text();
        specificMetaData.langue = specificMetaData.discipline;
        specificMetaData.learningGoal = document.getElementById('compets').value;
        specificMetaData.nb_sentences = textLengthElements[0].value;
        specificMetaData.nb_bullets = textLengthElements[1].value;
        specificMetaData.locationsOnTheMap = locations[0].value;
        specificMetaData.concernedLocations = locations[1].value;
        otherFactors[0].checked ? specificMetaData.uselessInformation = true : specificMetaData.uselessInformation = false;
        otherFactors[1].checked ? specificMetaData.linearText = true : specificMetaData.linearText = false;
        specificMetaData.timesUsed = [];
        timesUsed.forEach((element) => {
            specificMetaData.timesUsed.push(element.value);
        });
        return specificMetaData;
    }

    const saveAndExit = function () {
        const valid_state_id = 2;
        const levelInput = document.getElementById('levels');
        const textArea = document.getElementById('descriptionExo');
        const imageB64 = document.getElementById('img_preview');
        const metaDataJson = createJsonMetaData();

        wrk.send('/updateExerciceState', false, {
            description: textArea.value,
            state: valid_state_id,
            levelInput: levelInput.value,
            imageB64: imageB64.getAttribute('src'),
            metaDataJson: JSON.stringify(metaDataJson),
            exId: exId
        }, function (data, success) {
            Swal.fire({
                title: data.message,
                icon: data.status,
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'OK'
            }).then((result) => {
                $('#backBtn').click();
            });
        }, true);
    };

    var exercice = <%- JSON.stringify(exercice.exercice) %>;

    var trad = {};

    var exId =  <%- id %>;
</script>
<script type="text/javascript" src="/scripts/ui/bootstrap-select.min.js" defer></script>
</body>
</html>